<!-- 左边 -->
<div class="span2">

    <div class="main-left-col">

        <h1><i class="icon-shopping-cart icon-large"></i> Adminize</h1>

        <ul class="side-nav">

            <li class="title">
                <a href="{:url('/')}"><i class="icon-home"></i>首页</a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="collapse" data-target="#members-dropdown" href="#"><i class="icon-group"></i>
                    用户管理 <b class="caret"></b></a>
                <ul id="members-dropdown" class="collapse">
                    <!-- <li><a href="{:url('/admin/user/list')}">用户列表</a></li> -->
                    <!-- <li><a href="{:url('/admin/user/add')}">添加用户</a></li> -->
                    <li><a href="javascript:;">用户</a></li>
                    <li><a href="javascript:;" onclick="showAtRight('/admin/user/index')">用户列表</a></li>
                </ul>
            </li>

        </ul>

    </div> <!-- end main-left-col -->

</div> <!-- end span2 -->

<!-- 下面是js代码 -->
<script src="{:config('static_admin')}/js/jquery.min.js"></script>
<script type="text/javascript">
    //这是左边导航页的点击action选中的事件
    $(function () {
        $('.collapse li').click(function () {
            // alert('sssss');
            $(this).addClass('active')
                .siblings().removeClass("active");
        });

        $('.title').click(function () {
            // alert('sssss');
            $(this).addClass('active')
                .siblings().removeClass("active");
        });
    });
    //左边导航页的点击action选中的事件 end!


    //这是点击leftlist.html的导航栏之后，右边页面ajax跳转
    function showAtRight(url) {
        $url = url; //要用变量来接收
        // alert($url);//查看跳转的路由
        var xmlhttp;
        //判断浏览器类型
        if (window.XMLHttpRequest) { // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        } else { // code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        //ajax
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("content").innerHTML = xmlhttp.responseText;
            }
        }
        // xmlhttp.open("GET", "{:url('/admin/user/add')}", true);//数据写死的
        xmlhttp.open("GET", $url, true);
        xmlhttp.send();
    };
    //function showAtRight end!


    //add添加功能的函数，添加用户按键点击触发
    addUser = function () {
        // var username = $.trim($("#username").val());
        // var password = $.trim($("#password").val());
        // // var repassword = $.trim($("#repassword").val());
        //可以加一个if验证
        // if (!username) {
        //     alert('用户名不能为空');
        //     return false;
        // }
        // var send = {
        //     'username': username,
        //     'password': password,
        //     // 'repassword': repassword
        // };
        var formData = $("#userform").serialize();
        // alert(formData);//用作查看输入的数据是否取得到
        $.ajax({
            type: "post",
            url: "{:url('/admin/user/ajaxAddUser')}", //数据传输的控制器方法
            data: formData, //这里data传递过去的是序列化以后的字符串
            success: function (res) {
                console.log(res);
                $("#username").val("");
                $("#password").val("");
                $("#repassword").val("");
                $("#addInfo").append(res.msg); //获取成功以后输出返回值    
            }
        });
        //给一个延时，3秒之后数据返回的那个地方置空
        setTimeout(function () {
            $("#addInfo").html("");
        }, 3000);
    };
    //function addUser end!

    
</script>